In [6]:
import pandas as pd

In [16]:
df = pd.read_json('lock.json')

In [24]:
# Working with SQL data
# (xamp ke use se database bna ke sql data import karne ke baad)
# ! pip install msql.connector
# import mysql.connector
# conn = msql.connector.connect(host='localhost',user'root,password='',databse='world')
# pd.read_sql_query("SELECT * FROM city",conn)
# pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'USA',conn) (yaha filter kar rahe hai country code ke according)